# The Effect of Municipal Permitting on Local Housing Markets

## Introduction

I am using the **Fannie Mae and Freddie Mac** data. I'm interested to look at the lending data as a proxy for housing sales, and to analyze either the effects of municipal permitting on housing markets on a MSA-to-MSA level, or look at how the ownership structure of housing differs between "high opportunity" and "low opportunity" areas.

## Data Loading

Because the data is in ``.txt`` format, with no column headers, and is in many different files for different years and loan types, significant data cleaning is required. To begin, we set up short titles for each column based on the data dictionary provided.

In [4]:
import pandas as pd

In [5]:
cols = ["flag","record_no","postal_code","msa_code","cty_code", "tract","pct_minority","median_inc_tract","ami","tract_inc_ratio","amfi","upb","purpose","seller_type","guarantee","lien_status","LTV","date","term_at_org","num_of_units","int_rate","note_amt","prop_val","pre_pen","balloon","26","27","28","29","30","31","32","33","34","35","36","37"]
loans_2023 = pd.read_csv('data/fhlmc_mf2023c_loans.txt', sep=r'\s+', header=None, names = cols)
loans_2023 = pd.concat([loans_2023, pd.read_csv('data/fnma_mf2023c_loans.txt', sep=r'\s+', header=None, names = cols)])
loans_2023

,flag,record_no,postal_code,msa_code,cty_code,tract,pct_minority,median_inc_tract,ami,tract_inc_ratio,...,28,29,30,31,32,33,34,35,36,37
0,2,1,37,20500,63,1708,90.17,82543,91167,0.9054,...,9,0,1,0,0,0,0,0,0,0
1,2,2,12,33100,86,9904,98.03,44931,73392,0.6122,...,9,100,1,0,0,0,0,0,0,0
2,2,3,47,32820,157,6500,98.76,46375,72130,0.6429,...,9,100,1,0,1,0,0,1,0,0
3,2,4,45,24860,45,2821,29.70,96463,75341,1.2804,...,9,0,1,0,0,0,0,0,0,0
4,2,5,48,12420,209,10919,68.38,75045,105379,0.7121,...,9,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2866,1,2867,48,19100,113,14148,86.40,75948,91127,0.8334,...,9,0,1,0,0,0,0,0,0,0
2867,1,2868,37,39580,183,53003,33.58,100991,102904,0.9814,...,9,0,1,0,0,0,0,0,0,0
2868,1,2869,55,99999,97,960900,15.89,73125,87203,0.8386,...,9,0,1,1,0,0,0,0,0,0
2869,1,2870,55,24580,9,2002,31.46,85583,86230,0.9925,...,9,0,1,0,0,0,0,1,0,0
2870,1,2871,42,37980,101,24700,94.07,54356,100853,0.5390,...,9,0,1,0,0,0,1,1,0,0

## Summary Statistics

In [6]:
loans_2023.groupby('msa_code').size().sort_values(ascending=False).head(10)

msa_code
35620    570
16980    250
99999    233
19100    200
18140    154
12060    151
31080    143
26420    139
38060    115
42660    114
dtype: int64

## Plots \& Figures

## Conclusion